<div class="container-fluid">
  <div class="product-list">
  
    <h1>Lista de Productos</h1>
    <button class="add-to-cart" routerLink="/listproducts">Agregar un Producto</button>
    <ul>
      <li *ngFor="let product of productos">
        
        <div class="product-details">
          <span class="product-name">{{product.nombre}}</span>
          <span class="product-price"> {{product.precio}}</span>
        </div>
        <button class="add-to-cart"  (click)="addCart(product)">Agregar al carrito</button>
      </li>
      
      
    </ul>
  </div>
</div>
